.song-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 321px) {
    .music-box h2{
       font-size: 14px;
      }}
  
  .song-item {
    width: 100%; 
    box-sizing: border-box; 
  }

  .music-box {
    background-color: #333; 
    padding: 20px;
    border-radius: 0px; 
    margin-bottom: 10px;
  }
  